/* EX2 */
p{
margin: 0;
}
ul, li{
margin: 0;
padding: 0;
}
html{
height: 100%;
}
body {
min-height: 100%;
background-color: #f7f7f0;
}
.w-title .img-group{
width: 25%;
margin: 0 auto;
position: relative;
}
.w-title .img-group .topLeft{
width: 30%;
right: 100%;
top: 0;
transform: translateY(-25%);
}
.w-title .img-group .topRight{
width: 20%;
top:0;
transform: translateY(100%);
left: 100%;
}
.w-title .img-group .topLeft::before{
position: absolute;
content: "";
display: block;
width: 20px;
height: 20px ;
opacity: 0.8;
bottom: 0;
right: calc(100% + 2rem);
border-radius: 100%;
background: linear-gradient(#f1eded, #bebec2);;
}

.w-title .img-group .topRight::before{
position: absolute;
content: "";
display: block;
width: 10px;
height: 10px;
opacity: 0.8;
bottom: -2rem;
right: calc(100%);
border-radius: 100%;
background: linear-gradient(#f1eded, #bebec2);;
}
.w-title .img-group .topRight::after{
position: absolute;
content: "";
display: block;
width: 10px;
height: 10px;
opacity: 0.8;
top: -2rem;
left: calc(100%);
border-radius: 100%;
background: linear-gradient(#f1eded, #bebec2);;
}
.w-title .img-group::before{
position: absolute;
content: "";
display: block;
width: 40px;
height: 40px ;
filter: blur(3px);
bottom: 45%;
opacity: 0.8;
left: 1rem;
border-radius: 100%;
background: linear-gradient(#f1eded, #bebec2);;
}
.w-tutorial .card{
border: none !important;
margin: 1rem 0;
}
.w-tutorial .card-header{
padding: 0;
border: none;
}
.w-tutorial .card-header button{
width: 100%;
text-align: left;
position: relative;
text-decoration: none;
padding: 1rem 15rem;
font-size: 1.5rem;
color: #22252D !important;
font-weight: bold;
border: none !important;
}
.w-tutorial .card-header button .imgAstro{
position: absolute;
right: 15rem;
top: 50%;
background-color: #183d8b;
width: 130px;
height: 130px;
transform: translateY(-50%) scale(0);
padding: 1rem;
z-index: 999;
transition: all 0.4s linear;
border-radius: 100%;
}
.w-tutorial .card-header button span{
background-color: #e7e7e1;
border-radius: 100%;
position: absolute;
min-width: 2.3rem;
min-height: 2.3rem;
display: inline-flex;
left: 14rem;
transform: translateX(-100%);
justify-content: center;
align-items: center;
font-size: 0.8rem;
color: #818082;
margin-right: 1rem;
}
.w-tutorial .card-header button.collapsed:hover span p{
display: none;
}
.w-tutorial .card-header button.collapsed:hover span svg.open{
display: block !important;
}
.w-tutorial .card-header button:not(.collapsed) span svg.close{
display: block !important;
}
.w-tutorial .card-header button:not(.collapsed) span p{
display: none;
}
.w-tutorial .card-header button:not(.collapsed) span {
background-color: #9f73e6;
color: white;

}
.w-tutorial .card-header button.collapsed:hover span{
background-color: #9f73e6;
color: white;
}
.w-tutorial .card-header button.collapsed:hover{
background-color: white;
}
.w-tutorial .card-header button.collapsed:hover .imgAstro{
transform: translateY(-50%) scale(1);
}
.w-tutorial .card-body {
padding: 1rem 15rem;
background-color: #f7f7f0;
border: none;
color: #7D7093;
}
.w-tutorial .card-body .content {
width: 60%;
}
.w-tutorial .card-body img {
width: 40%;
margin-top: -3rem;
z-index: 999;
}
.w-tutorial .card-body ul li {
margin: 1rem 0;
display: flex;
align-items: center;
}

.w-tutorial .card-body ul li svg {
color: #32B48D;
width: 26px;
height: 26px;
margin-right: 0.5rem;
}


@keyframes zoomIn {
from{
transform: scale(0);
}
to{
transform: scale(1);
}
}


